<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to Celery</title>
    <style>
      #navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 250px;
      }
      #navbar li {
        border-left: 10px solid #666;
        border-bottom: 1px solid #666;
      }
      #navbar a {
        background-color: #949494;
        color: #fff;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        border-left: 5px solid #33ADFF;
        display: block;
      }
    </style>
</head>
<body>
  <div>
    <ul id="navbar">
        <li><a href="/bun_1/">Annotation. Logging</a></li>
        <li><a href="/bun_2/">Canvas. Primitives</a></li>
        <li><a href="/bun_3/">Retry task</a></li>
        <li><a href="/bun_4/">Revoke task</a></li>
        <li><a href="/bun_5/">Periodic task</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="http://localhost:5555">Flower</a></li>
    </ul>
  </div>

  <div>{% block content %}{% endblock %}</div>
</body>
</html>